<a href="https://colab.research.google.com/github/andresnigenda/cpd_complaints_nlp/blob/andres/lda_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LDA of complaints against the CPD**

### *Importing Packages*

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction import text 
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English
from collections import Counter
import pandas as pd

### *Pre-processing*
0. Set up allegations data from csv
1. Convert data to lowercase
2. Remove special characters (punctuation and numbers)
3. Tokenize into terms
4. Remove stop words (generic + allegation specific)
5. Stemming
6. Term document matrix

In [13]:
# Setting up our data
# read in csv
narratives_csv_url = "https://raw.githubusercontent.com/andresnigenda/cpd_complaints_nlp/andres/narratives.csv"
df = pd.read_csv(narratives_csv_url)
# filter to relevant section
df = df[df.column_name == "Initial / Intake Allegation"]
# filter to relevant columns
df = df[['cr_id', 'text']]
print("There are {} complaints".format(df.shape[0]))
# drop allegations with same id + text
df = df.drop_duplicates(['cr_id', 'text'])
print("There are {} unique complaints".format(df.shape[0]))
allegations_lst = df['text'].to_list()
df.head()

There are 19966 complaints
There are 17001 unique complaints

      cr_id                                               text
0   1048960  The reporting party alleges that the\naccused ...
4   1048962  The victim alleges that an unknown male\nblack...
9   1048964   The reporting party alleges that he was a\nvi...
12  1048965  The reporting party alleges that while\nwaitin...
14  1048965  The reporting party alleges that while\nwaitin...

      cr_id                                               text
0   1048960  The reporting party alleges that the\naccused ...
4   1048962  The victim alleges that an unknown male\nblack...
9   1048964   The reporting party alleges that he was a\nvi...
12  1048965  The reporting party alleges that while\nwaitin...
14  1048965  The reporting party alleges that while\nwaitin...